@using BookIT.Infrastructure.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @if(!SignInManager.IsSignedIn(User)){
            <li class="nav-item">
                <a class="nav-link text-dark text-decoration-underline" asp-controller="Admin" asp-action="Login">Admin Panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark text-decoration-underline" asp-controller="Partner" asp-action="Login">Partner Panel</a>
            </li>
        }        
    </ul>
</div>
