html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Baskerville Old Face';
    font-style: italic;
}

.carousel {
    margin: auto;
    width: 640px;
    height: 360px;
    font-weight: bold;
}

.nav-right {
    float: right;
}

#page-background::before {
    content: "";
    background-image: url('/img/ThinkstockPhotos-891573112.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    opacity: 0.18;
}

#wrapper {
    border: 1px solid blue;
}

#div1 {
    display: inline-block;
    width: 170px;
    height: 30px;
}

#div2 {
    vertical-align: top;
    display: inline-block;
    width: 180px;
    height: 30px;
}