html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#wrapper {
    border: 1px solid blue;
}

#div1 {
    display: inline-block;
    width: 170px;
    height: 30px;
}

#div2 {
    vertical-align: top;
    display: inline-block;
    width: 180px;
    height: 30px;
}